* {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

img {
  height: 200px;
  width: 200px;
}

ul {
  text-align: left;
  list-style-type: square;
  line-height: 50px;
}

img {
  height: 200px;
  width: 200px;
}

span {
  text-decoration: underline;
  background-color: yellow;
}

#info {
  color: red;
}

#ele {
  color: blue;
}

#mec {
  color: yellow;
}

.class {
  width: 10%;
}

#avbo {
  width: 50%;
}

#av {
  text-align: center;
  vertical-align: middle;
}